@import "compass";
@import "compass/css3";
@import "var";
@import 'reset';

.wrap {
    width: 1000px;
    height: 1908px;
    margin-left: 13%;
}

.hr, .hr2, .hr3 {
    width: 78%;
    margin-left: 11%;
    border: 1.5px solid rgba(219, 219, 219, 0.49);
    float: left;
    border-radius: 50%;
    margin-top: 36px;
    margin-bottom: 34px;
}

.hr2 {
    margin-top: 34px;
    margin-bottom: 39px;
}

.hr3 {
    margin-top: 40px;
    margin-bottom: 39px;
}

.soc {
    background-color: #000;
    color: grey;
    padding: 11px 20px 13px 20px;
    float: left;
    font-size: 13.8px;

    p {
        float: left;
        margin-right: 397px;
        font-size: 13.9px;
        letter-spacing: 0.19px;
    }

    p:first-child {
        margin-right: 50px;
        letter-spacing: normal;
    }

    a {
        transition: all .3s ease;
        color: grey;
        text-align: right;
        font-size: 13.5px;
        margin-top: 2px;
    }

    a:hover {
        color: #fff;
    }

    a:first-child {
        margin-left: 20px;
    }
}

header {
    background-color: #1a1b1d;
    color: white;
    padding: 74px 20px 107px 20px;
    border-bottom: 5px solid #d74340;

    .logo {
        width: 190px;
        float: left;

        a {
            float: left;
            margin-top: 2px;

            p {
                float: left;
                margin-bottom: 2px;
                color: white;
                letter-spacing: 0.3px;

                span {
                    transition: all .3s ease;
                    text-transform: uppercase;
                    color: white;
                    font-size: 26px;
                }

                span:first-child {
                    font-size: 36px;
                }
            }

            .under_logo {
                font-size: 13.5px;
                color: white;
            }
        }

        a:hover {
            span:first-child {
                color: #d74340;
            }
        }
    }

    nav {
        div {
            border-right: 1px solid #353535;
            padding-right: 19px;
            margin-left: 19px;
            margin-top: 33px;
            float: left;

            a {
                color: #fff;

                p {
                    transition: all .3s ease;
                    font-size: 12.5px;
                    text-transform: uppercase;
                    margin-bottom: -2px;
                }

                span {
                    color: silver;
                    font-size: 13px;
                    letter-spacing: 0;
                }
            }

            a:hover {
                p {
                    color: #d74340;
                }
            }
        }

        div:first-child {
            margin-left: 0;
            padding-left: 133px;
            letter-spacing: 0.4px;

            a {
                p {
                    color: #d74340;
                }
            }
        }

        .last {
            padding-right: 0;
            margin-right: 0;
            border: none;
        }
    }
}

.welcome {
    padding-left: 40px;
    padding-right: 40px;

    p {
        color: #989898;
        font-size: 31px;
        text-align: center;
        line-height: 41px;
        margin-top: 41px;
    }
}

.blocks {
    padding-left: 20px;

    div {
        width: 27%;
        float: left;
        margin-right: 50px;
        margin-bottom: 3px;

        h3 {
            font-size: 21px;
            line-height: 29px;
            color: #989898;
        }

        p {
            margin-top: 22px;
            margin-bottom: 17px;
            font-size: 13.5px;
            letter-spacing: 0.3px;
            line-height: 18px;
        }

        .button {
            width: 34%;
            background-color: #d74340;
            padding: 7px;
            font-size: 13px;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            border-radius: 10px;
            transition: all 0.4s ease;
            border: 1px solid #d74340;
            margin-top: 2px;
        }

        .button:hover {
            color: #d74340;
            background-color: white;
            border: 1px solid #d74340;
        }
    }

    div:first-child {
        margin-right: 64px;

    }

    .lastDiv {
        margin-left: 14px;
    }
}

.latestWork {
    float: left;
    
    p {
        width: 100%;
        float: left;
        margin-bottom: 10px;

        a {
            .control {
                text-align: right;
                float: right;
                margin-left: 5px;
            }
        }
    }
    
    div {

        img {
            float: left;
            margin-left: 30px;
        }

        img:first-child {
            margin-left: 20px;
        }
    }
}

.intro {
    padding-left: 20px;
    color: #666666;

    .left {
        float: left;
        width: 48%;

        h3 {
            float: left;
            font-size: 20px;
            margin-bottom: 25px;
            font-weight: normal;
        }

        p {
            float: left;
            font-size: 16px;
        }
    }

    .right {
        float: left;
        width: 50%;
        margin-left: 19px;

        h3 {
            float: left;
            font-size: 21px;
            margin-bottom: 26px;
            font-weight: normal;
        }

        .profiles {
            float: left;
            
            div {
                float: left;
                width: 50%;
                margin-bottom: 20px;

                img {
                    float: left;
                    padding: 4px;
                    border: 1px solid rgba(102, 102, 102, 0.33);
                    margin-right: 8px;
                }

                h4 {
                    float: left;
                    font-size: 15px;
                    font-weight: bold;
                }

                p {
                    width: 55%;
                    float: left;
                    font-size: 14px;
                    margin-bottom: 5px;
                }

                a {
                    float: left;
                    color: #d74340;
                    font-size: 13.5px;
                }
            }
        }
    }
}

footer {
    float: left;
    background-color: #1a1b1d;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 36px;
    margin-top: 20px;

    div {
        width: 32%;
        float: left;
        font-size: 15px;
        margin-right: 22px;

        h3 {
            width: 100%;
            font-size: 13px;
            letter-spacing: 0.5px;
            float: left;
            margin-bottom: 35px;
            text-transform: uppercase;
            color: #979797;
        }

        h4 {
            width: 100%;
            font-size: 14px;
            color: #585c5f;
            float: left;
            padding-bottom: 3px;
        }

        span {
            font-size: 13px;
            float: left;
            color: #585c5f;
            padding-bottom: 13px;
        }

        p {
            width: 100%;
            color: #585c5f;
            font-size: 15px;
            line-height: 19px;
            margin-bottom: 6px;
        }

        a {
            width: 100%;
            color: #d74340;
            float: left;
            font-size: 14px;
            line-height: 19px;
            margin-bottom: 6px;
        }
    }

    .cont-det {
        width: 28%;
        margin-right: 60px;

        h3 {
            margin-bottom: 33px;
        }

        p {
            font-size: 14px;
            margin-bottom: 0.5px;
            width: 200px;
        }

        span {
            color: #d74340;
            float: left;
            font-size: 15px;

            span {
                float: left;
                font-size: 16px;
                margin-left: 2px;
                color: #585c5f;
                padding-bottom: 0;
            }
        }

        a {
            margin-top: 9px;
            margin-bottom: 7px;
        }
    }

    .newslet {
        width: 31%;
        float: left;
        margin-right: 0;

        h3 {
            margin-bottom: 32px;
        }

        p {
            font-size: 14px;
            margin-bottom: 12px;
        }
        
        input[type="text"] {
            background-color: #27282c;
            color: #585c5f;
            width: 95%;
            border: none;
            padding: 8px;
            margin-left: 2px;
            font-size: 13.5px;
            margin-top: 3px;
            margin-bottom: 7px;
            border-radius: 5px;
        }
        
        input[type="button"] {
            background-color: #d74340;
            text-transform: uppercase;
            color: #fff;
            border: none;
            padding: 8px;
            margin-left: 2px;
            border-radius: 5px;
            margin-top: 2px;
        }
    }

    .rights {
        width: 100%;
        float: left;
        font-size: 14px;
        color: rgb(88, 92, 95);
        padding-top: 18px;
        padding-bottom: 20px;
        margin-top: 40px;
        border-top: 1px solid rgba(60, 64, 66, 0.38);

        span {
            float: right;
            color: #585c5f;
        }
    }
}